---
layout: new
hide_title: true
hideJumbotron: true
---

<div class="row">
  <div class="col-8 offset-xs-2 offset-sm-0 col-sm-5 ">
    <img class="img-fluid" src="/images/winners.jpg" />
    <div class="vspace1"></div>
  </div>
  <div class="col-sm-7">
    {% include redesign/navbar.html %}

    <h4> International Ms Bootblack 2018 Teagan</h4>
    <p>
      <small> #TakeRefuge #DoBootsAndTheRestWillCome </small>
    </p>

    <div class="vspace2" />
    <h5> Bio </h5>
    <p>
      Teagan fell in love with bootblacking at a young age, doing her shoes before church.
      Although these days her skills are being put to more salcious uses,
      she still identifies as a spiritual Bootblack. For her, bootblacking harkens back to the foot-washing
      ritual. She is honored to provide a humble service to her community.
      Teagan is <b>IMsBB 2018 </b>.
      She is the 20th person to hold the title of International Ms Bootblack.
      She is also Southwest Bootblack 2017 and Southern California Bootblack 2016.
      She is based in Oakland, CA. Durring her title year she invited our community
      to "Take Refuge" in the capable hands of our bootblacks.
    </p>

    <div class="vspace1" />

    <h5> Links </h5>
    {% include redesign/social_links.html %}

    <div class="vspace1" />

    <h5> Travel Schedule </h5>

    <div class="vspace1" />
    <small>
      Pictured: IMsBB 2018 Teagan alongside IMsL 2018 girl ang. photo by shilo mccabe.
    </small>


  </div>
</div>
