---
layout: new
hide_title: true
hideJumbotron: true
---

<div class="row">
  <div class="col-8 offset-xs-2 offset-sm-0 col-sm-5 ">
    <img class="img-fluid" src="/images/headshot1.jpg" />
    <small> photo by shilo mccabe </small>
  </div>
  <div class="col-sm-7">
    {% include redesign/navbar.html %}

    <div class="vspace5" />


    <div class="text-center">
      <h2> International Ms Bootblack 2018 </h2>
      <h1 class="font-weight-bold"> Teagan</h1>
      <div class="vspace2"> </div>
      <p>
        #TakeRefuge <br> #DoBootsAndTheRestWillCome
      </p>
      <div class="vspace2"> </div>

      {% include redesign/social_links.html %}
    </div>

    <div class="vspace1"> </div>
  </div>
</div>
